/* Reset */
*{
    margin: 0;
    padding: 0;
}
/* PADRÕES */

/* Definições padrão da página - Cor padrão, fonte e REM */
:root{
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-color: #ebebeb;
}
/* Formatação padrão de todas as listas (sem nenhum 'ponto' inicial) */
li{
    list-style: none;
}
/* Template de Estrutura e Template do conteúdo (limite) */

/* Template de estrutura (funciona como substituto do body da página) */
.template{
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    box-sizing: border-box;
}
/* Definição da largura máxima do conteúdo */
.content{ 
    max-width: 1200px;
}
/* Containers gerais de divisão semântica*/

/* Cabeçalho -> Parte Estrutural */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}
/* Container de conteúdo principal */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
}
/* Rodapé */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: #ffffff;
}
/* Cabeçalho -> Parte do conteúdo
(Container principal do header - dividido em tophead e bottomhead) */

.content.guide{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 1200px;
    
}
/* Manipulação do texto principal ("Mercado TADS") */
.content.guide h1{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #2f9e41;
}
/* Manipulação do icone do texto principal */
.content.guide > h1 > i{
    font-size: 1.75rem;
    color: #00a650;
}
/* Parte Superior do HEADER */

.content.guide.tophead{
    display: flex;
    box-sizing: border-box;
    width: 1200px;
    flex-direction: row;
    column-gap: 15px;
    padding: 10px 0;
}
/* Container do formulário (barra de pesquisa) */
.content.guide.tophead form{ 
    display: flex;
    flex-grow: 1;
    height: auto;
    padding: 10px 15px;
}
/* Input do Form */
.content.guide.tophead input{
    display: flex;
    border: 0;
    width: 100%;
    padding: 10px 15px;
}
/* Botão do form (limpeza do fundo) */
.content.guide.tophead button{
    background: transparent;
    border: 0;
    background-color: #ffffff;
}
/* Icone do form (lupa)*/
.content.guide.tophead > form i{
    color: #00a650;
    margin-right: 15px;
}
/* Placeholder do form */
.content.guide.tophead ::placeholder{
    font-size: 1rem;
    color: #666;
}
/* Organização do conjunto de ações do usuário */
.content.guide.tophead ul{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: 14px;
    flex-grow: 1;
}
/* Organização de cada li do conjunto de ações do usuário */
.content.guide.tophead li{
    display: flex;
    column-gap: 15px;
}
/* Parte Inferior - Menu do Header (Bottomhead) */

.content.guide.bottomhead{
    width: 1200px;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}
/* Espaçamento e organização dos elementos da lista do bottomhead */
.content.guide.bottomhead > ul{
    display: flex;
    width: 1200px;
    gap: 15px;
}
/* Manipulação dos links de bottomhead */
.content.guide.bottomhead a{
    font-size: 14px;
    text-decoration: none;
    color: #333;
}
/* Banner */

/* Template de fundo do banner */
.bannertemplate{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2f9e41;
    margin-bottom: 1.25rem;
    row-gap: 15px;
    margin-bottom: 1.25rem;
}
/* Manipulação da organização e espaçamento do conteúdo de banner 
(Espaçamento e organização) */
.content.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    row-gap: 15px;
}
/* Título do Banner */
.content.banner > h2{
    color: #ffffff;
    font-size: 2rem;
}
/* Subtítulo do Banner */
.content.banner > p{
    color: #ffffff;
    font-size: 19px;
}
/* MENU DE CATEGORIAS DO MAIN */

.content.menucategorias{
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ffffff;
    border-radius: 5px;
}
/* Ordenação da lista de menucategorias em row e manipulação de seu espaçamento*/
.content.menucategorias > ul{
    display: flex;
    column-gap: 20px;
    flex-grow: 0.5;
}
/* Manipulação interna de cada elemento (botão) da lista de menu categorias */
.content.menucategorias li{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
/* Icone de cada botão do menu */
.content.menucategorias i{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ebebeb;
    background-color: #2f9e41;
    font-size: 1.5rem;
    border-radius: 60px;
    margin: 8px;
}
/* Texto de cada botão do menumain */
.content.menucategorias p{
    color: #666;
    font-size: 0.75rem;
    margin: 8px;
}
/* Remoção da visibilidade do botão presente no menu do main e centralização deste*/
.content.menucategorias button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    border: 0;
}
/* Destaques - Brinquedos, casas...*/

.content.emphasis{
    display: flex;
    flex-direction: row;
    width: 1200px;
    column-gap: 20px;
}
/* Manipulação da estrutura interna de cada destaque*/
.content.emphasis.items{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 7px;
}
/* Manipulação do título de cada destaque*/
.content.emphasis.items > h2{
    font-size: 1.5rem;
    padding: 1rem;
}
/* Manipulação das Imagens maiores dos Destaques*/
.content.emphasis.items > img{
    object-fit: contain;
    width: 100%;
    height: auto;
    border: 2px;
}
/* Manipulação do espaçamento e direção do container de imagens inferiores*/
.content.emphasis.items > aside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}
/* Manipulação das imagens inferiores de Destaques */
.content.emphasis.items > aside > img{
    box-sizing: border-box;
    object-fit: contain;
    height: 100%;
    width: 25%;
    border-radius: 10px;
    flex-grow: 0.25;
    border: 2px solid;
    border-color: #ebebeb;
}
/* Ofertas do Dia */

.content.offers{
    background-color: #ffffff;
    border-radius: 7px;
}
/* Título de Ofertas do Dia */
.content.offers > h2{
    font-size: 1.5rem;
    padding: 20px;
}
/* Manipulação da área de produtos - tamanho e posicionamento 
das colunas (article) */
.content.offers.products{
    width: 1200px;
    background: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
}
/* Organização interna de cada produto (article) */
.content.offer.product{
    display: flex;
    background: none;
    flex-direction: column;
    border-radius: 3px;
    row-gap: 10px;
}
/* Valor de caa objeto */
.content.offers.product > h3{
    font-size: 18px;
    font-weight: bolder;
    margin: 8px;
}
/* Porcentagem de desconto de cada objeto */
.content.offers.product > p {
    font-size: 14px;
    color:#00a650;
    margin: 8px;
}
/* Manipulação do COMPRAR de cada objeto, 
houve a necessidade de um segundo seletor devido o product 5 não ter o primeiro parágrafo */
.content.offers.product > p + p, .content.offers.product.n5 > p{
    font-size: 0.75rem;
    color: #00a650;
    font-weight: bold;
}
/* Formatação de cada imagem presente dentro de um article em ofertas do dia */
.content.offers.product > img{
    width: 150px;
    height: 150px; 
    background-color: #ebebeb;
    border: 1px;
    border-radius: 4px;
    object-fit: contain;   
    padding: 0 10px;
}
/* Descrições de Pagamento */

/* Organização das colunas de descrições de pagamento */
.content.desc{
    display: flex;
    width: 1200px;
    flex-direction: row;
    justify-content: center;
    background-color: #ebebeb;
    column-gap: 20px;
    margin-bottom: 20px;
}
/* Manipulação interna de cada coluna das informações de pagamento */
.content.desc.child{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
/* Icone superior do título das descrições */
.content.desc.child > i{
    color: #00a650;
    font-size: 3rem;
}
/* Formatação de tamanho - Título das informações de pagamento */
.content.desc.child > h2{
    font-size: 19px;
}
/* Formatação de texto - Parágrafo das informações de pagamento */
.content.desc.child > p{
    text-align: center;
}
/* Rodapé superior - informações */

/* Estruturação conjunta das colunas de informação */
.content.infos{
    display: flex;
    width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
}
/* Estruturação e posicionamento interno das colunas de informação */
.content.infos.child{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 0.5rem;
    margin-bottom: 30px;
}
/* Títulos de informações do rodapé*/
.content.infos.child > h2{
    font-size: 1rem;
    padding-bottom: 8px;
}
/* Link de informações do rodapé*/
.content.infos.child > a{
    font-size: 14px;
    text-decoration: none;
    color: #666;
}
/* Rodapé - parte inferior - redes sociais e copyright*/
.content.socialmedia{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.25rem;
}
/* Manipulação dos Icones do rodapé */
.content.socialmedia.icons{
    display: flex;
    flex-direction: row;
    color: #2f9e41;
    font-size: 14px;
    column-gap: 15px;
}
/* Manipulação do texto de copyright do rodapé */
.content.socialmedia > p{  
   color: #666;
   font-size: 0.75rem;
   padding: 0.5rem;
}
/* hr - Linha divisória do rodapé (entre infos e social media) */
hr{
    align-self: self-start;
    width: 1075px;
    color: #ebebeb;
}
/* EFEITOS HOVER */

/* HOVER DO LINK E AÇÕES DO USUÁRIO (TOPHEAD À ESQUERDA) */
.content.guide.tophead li:hover{
    color: #2f9e41;
}
/* HOVER DO LINK E AÇÕES DO USUÁRIO (TOPHEAD À ESQUERDA) */
.content.guide.bottomhead a:hover{
    color: #2f9e41;
    
}
/* HOVER DO LINK E AÇÕES DO USUÁRIO (TOPHEAD À ESQUERDA) */
.content.menucategorias button:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 0.25px;
}
/* HOVER DAS MINI IMAGENS DA CATEGORIA DE DESTAQUES*/
.content.emphasis > aside > img:hover{
    border-color: #2f9e41;
}
/* HOVER DOS PRODUTOS DE OFERTAS */
.content.offers article:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 0.25px;
}
/* HOVER DOS LINKS DE INFORMAÇÃO DO RODAPÉ */
.content.infos.child > a:hover{
    text-decoration: underline;
}
/* Remoção da marcação do input ao clicar */
input:focus{
    outline: none;
}